@import './base.css';

* {
    box-sizing: border-box;
}

html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    display: grid;
    grid-template-columns: 175px 1fr;
    grid-template-rows: 50px 1fr;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}